/* ============
   GLOBAL STYLES
   ============ */
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

div {
   /*outline: 1px solid black;*/
}

/* ============
   LEFT SIDEBARD
   ============ */
.sidebar {
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr) 32px repeat(3, 1fr);
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: column;
    align-items: center;;
    width: 16vw;
    padding: 8px;
    padding-bottom: 40vh;
    background-color: #1A92D3;
    color: white;
    font-weight: 500;
}

.svg-container#main-logo {
    fill: white;
    height: 50px;
    width: 50px;
}

.svg-container {
    fill: white;
    height: 20px;
    width: 20px;
    justify-self: center;
}

#main-logo-text {
    font-size: 32px;
}

#sidebar-section-break {
    margin-top: 96px;
}

/* ============
   DASHBOARD BODY
   ============ */   
.dash-body {
    display: flex;
    flex-direction: column;
    width: 84vw;
    margin-right: 8px;
    background-color: #E2E8F0;
}

.dash-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    margin: 16px;
    gap: 16px;
}

/* TOP BAR MENU 
***************************/
.dash-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    padding: 16px;
    background-color: #FFFFFF;
    border-bottom: #717171;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dash-menu-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    display: flex;
    padding: 8px;   
}

#search-box {
    background-color: rgb(221, 220, 220);
    border-radius: 16px;
    width: clamp(200px, 50vw, 50vw);
}

.account {
    display: flex;
}

.dash-menu-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
}

.welcome {
    display: flex;
}

.actions {
    display: flex;
}

.button {
    width: 70px;
    margin: 12px;
    padding: 8px;
    border-radius: 20px;
    background-color: #1A92D3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Dashboard Content
***************************/
.card-container {
    font-size: 20px;
    gap: 16px;
}


/* PROJECT CONTAINER */   
.project-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 8px;
}

.project {
    height: clamp(10vh, 20vh, 40vh);
    border-radius: 8px;
    border-left: 8px solid orange;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-content {
    padding: 12px;
}

.project-title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
}

.project-desc {
    font-size: 12px;
    color: #717171;
}

.project-actions {
    display: flex;
    justify-content: end;
    gap: 16px;
    margin: 16px;
}

.action-container {
    height: 20px;
    width: 20px;
    justify-self: center;
}

/* META INFORMATION */
.meta-tiles {
    display: grid;
    grid-template-columns: 1;
    gap: 16px;
}

.meta-tile {
    border-radius: 8px;
    height: calc(100% - 32px);
    margin-top: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}